{% extends "layout.html" %}

{% block title %}
    Book detail
{% endblock %}

{% block body %}
<center>
  <a href="{{url_for('index')}}">start a new search</a>
  <h1>{{book.title}}</h1>
  <h2> Book information </h2>
  <ul>
    <li>ISBN:{{book.isbn}}</li>
    <li>title:{{book.title}}</li>
    <li>Author:{{book.author}}</li>
    <li>year:{{book.year}}</li>
    {% if ratingCOUNT %}
      <li>Rating counts: {{ratingCOUNT}}</li>
      <li>Average rating: {{ratingAVG}}</li>
      {% endif %}
  </ul>
  <h2>Users reviews</h2>
  <ul>
    {% for review in reviews %}
    <li> User review score: {{review.rate}}</li>
    <li> review text:{{review.review}}</li>
    {% else %}
    <li> no review </li>
    {% endfor %}
  </ul>
  {% if reviewcount == 0 %}
  <h2>Submit your review</h2>
  <form action="{{url_for('information',isbn=book.isbn)}}" method="post">
    <table>
      <tr>
        <td>select your rating (1-5):</td>
        <td>
          <select name="rating" float:left>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </td>
      </tr>
    </table>
    <textarea name="review", placeholder="submit your review"></textarea><br>
    <input type="submit" value="submit">
   </form>
   {% endif %}
{% endblock %}
