{% extends "layout.html" %}

{% block title %}
    <h1>Booksearch</h1>
{% endblock %}

{% block body %}
<center>
  <h1>Search for book</h1>
  <form action="{{url_for('booksearch')}}" method="post">
    <table>
      <tr>
        <td>Search:</td>
        <td><input type="text" id="booksearch" name="booksearch" placeholder="ISBN/title/author"></td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="Search">
        </td>
      </tr>
    </table>
  </form>
{% endblock %}
